.AB_low,
.AB_high {
  color: rgb(104, 209, 109);
}
.C_low,
.C_high {
  color: rgb(223, 140, 31);
}

.D_low {
  color: rgb(221, 27, 27);
}

.D_high {
  color: rgb(145, 24, 101);
}

.Tandem {
  color: rgb(255, 238, 4);
}

.HG_1_Turm,
.HG_1_Turmlos {
  color: rgb(115, 37, 179);
}

.HG_5_starr {
  color: rgb(236, 20, 20);
}
