.gsSport {
  color: rgb(104, 209, 109);
}

.gsIntermediate {
  color: rgb(223, 140, 31);
}

.gsPerformance {
  color: rgb(221, 27, 27);
}

.gsComp {
  color: rgb(145, 24, 101);
}

.gsTandem {
  color: rgb(255, 238, 4);
}

.hgFlex {
  color: rgb(115, 37, 179);
}

.hgStarr {
  color: rgb(236, 20, 20);
}
