.gsSport,
.gsSportlow,
.gsSportHigh {
  color: rgb(104, 209, 109);
}
.gsIntermediate,
.gsIntermediateLow,
.gsIntermediateHigh {
  color: rgb(223, 140, 31);
}

.gsPerformance {
  color: rgb(221, 27, 27);
}

.gsCompetition {
  color: rgb(145, 24, 101);
}

.gsTandem {
  color: rgb(255, 238, 4);
}

.hgFlex,
.hgFlexTurm,
.hgFlexTurmlos {
  color: rgb(115, 37, 179);
}

.hgStarr {
  color: rgb(236, 20, 20);
}
