.gs-sport {
  color: rgb(104, 209, 109);
}

.gs-intermediate {
  color: rgb(223, 140, 31);
}

.gs-performance {
  color: rgb(221, 27, 27);
}

.gs-performance-high {
  color: rgb(145, 24, 101);
}

.gs-tandem {
  color: rgb(255, 238, 4);
}

.hg-flex {
  color: rgb(115, 37, 179);
}

.hg-starre {
  color: rgb(236, 20, 20);
}
