.dialog-bg-image {
  background-image: url("@/assets/images/header/rachtig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 2000px) {
  .dialog-bg-image {
    background-image: url("../assets/images/header/rachtig-regular.jpg");
  }
}

@media (max-width: 1100px) {
  .dialog-bg-image {
    background-image: url("../assets/images/header/rachtig-small.jpg");
  }
}

@media (max-width: 620px) {
  .dialog-bg-image {
    background-image: url("../assets/images/header/rachtig-xsmall.jpg");
  }
}

@media (max-width: 310px) {
  .dialog-bg-image {
    background-image: url("../assets/images/header/rachtig-thumb.jpg");
  }
}

$gradient-color-1: rgba(132, 250, 176, 0.7);
$gradient-color-2: rgba(143, 211, 244, 0.7);
.bg-gradient-1 {
  /* fallback for old browsers */
  background: $gradient-color-1;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    $gradient-color-1,
    $gradient-color-2
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, $gradient-color-1, $gradient-color-2);
}
