// @import "../../node_modules/bootstrap/scss/functions";

$primary: #08556d;
$primary-alt: #08556d;
$table-bg-scale: 0;
$form-check-input-width: 1.1em;

$table-striped-bg-factor: 0.05;
$table-striped-bg: rgba($primary, $table-striped-bg-factor);
